{% extends "authentication/base_auth.html" %} 
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
   
<div class="form-group" bg-light>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} form-group alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}

  <h3 class="text-center">Set New Password</h3>
  <form action="{% url 'set-new-password' uidb64 token %}" method="post">
     {% csrf_token %}
  <br />
 
  <label for="password">Password:</label>
  <div class="form-group">
    <input
      class="form-group"
      type="password"
      id="password"
      name="password"
      required
    />
  </div>
  <br />
  <label for="pass2">Confirm Password:</label>
  <div class="form-group">
    <input
      class="form-group"
      type="password"
      id="pass2"
      name="pass2"
      required
    />
  </div>
  <br />
  <button class="btn btn-primary" type="submit">Submit</button>
  <br />
  <a href="/auth/login/">Login</a>.
  <br />
  </form>
</div>
{% endblock content %}
